/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

body {
  color: #ffffff;
  background-color: #000000;
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.container-game {
  display: flex;
  flex-direction: row;
  border: 3px solid #505050;
}
.container-button-restart {
  margin-bottom: 10px;
}
/* title */

.title {
  font-size: 2rem;
  margin: 20px 10px;
  color: cornflowerblue;
}

/* cell or box */

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  background-color: #999999;
  font-size: 4rem;
  cursor: pointer;
}
.empty:hover {
  background-color: #ffffff;
  color: #000000;
}

.full {
  background-color: #000088;
}
.victory {
  background-color: #008800;
}
/* display player*/

.display-player,
#playerdata {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: #aaaaaa;
  font-size: 2rem;
}

#playerdata {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #505050;
  border-radius: 4px;
}
#playerdata p {
  margin: 5px;
}
#playerdata input {
  width: 100px;
}

#playerInformation {
  display: flex;
  flex-direction: column;
}

/* button */

.btn {
  color: #000000;
  background-color: #dddddd;
  border-radius: 3px;
  transition: 0.3s all ease;
  margin: 4px;
  padding: 2px;
}
.btn:hover {
  color: #ff9999;
  background-color: #505050;
  box-shadow: 1px 1px 1px 1px #ff9999;
  transition: 0.3s all ease;
}
